@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
/* colors */
/* typography */
/* spacer */
/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.2;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  color: #fff;
  background: #0f1424;
}

/* utility */
.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.flow-content > * + * {
  margin-top: var(--flow-space, 2rem);
}

.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

/* general */
main {
  display: grid;
  place-items: center;
  height: 100vh;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin: 1.5rem;
}

/* header */
.header header {
  background-color: #5847eb;
  border-radius: 0.875rem;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
}
.header img {
  width: 4rem;
  height: 4rem;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.header p {
  font-size: 0.9375rem;
  color: #bdc1ff;
}
.header h1 {
  font-size: 1.5rem;
  font-weight: 300;
}
.header .nav {
  background-color: #1c1f4a;
  border-radius: 0.875rem;
  margin-top: -1rem;
  padding: 1rem 2rem 0.5rem;
}
.header .nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.header .nav a {
  color: #6f76c8;
  text-decoration: none;
}
.header .nav a:hover {
  color: #fff;
}
.header .nav a.active {
  color: #fff;
}

/* cards */
.cards {
  display: grid;
  gap: 1.5rem;
}

.card {
  border-radius: 0.875rem;
}
.card__background {
  border-radius: 0.875rem 0.875rem 0 0;
  padding: 1.75rem;
  position: relative;
}
.card__data {
  background-color: #1c1f4a;
  border-radius: 0.875rem;
  position: relative;
  padding: 1.5rem;
  margin-top: -1rem;
}
.card__right {
  text-align: right;
}
.card__right a {
  color: #bdc1ff;
  font-size: 2rem;
}
.card__right a svg {
  margin-bottom: 1rem;
}
.card h2 {
  font-size: 1.125rem;
  font-weight: 400;
}
.card__time {
  font-size: 2rem;
  font-weight: 300;
}
.card__sum {
  font-size: 0.9375rem;
  color: #bdc1ff;
}

/* card backgrounds */
.card__background {
  position: relative;
  overflow: hidden;
}
.card__background::after {
  position: absolute;
  top: -0.5rem;
  right: 1rem;
}

.card--work .card__background {
  background-color: #ff8c66;
}
.card--work .card__background::after {
  content: url("./images/icon-work.svg");
}

.card--play .card__background {
  background-color: #56c2e6;
}
.card--play .card__background::after {
  content: url("./images/icon-play.svg");
}

.card--study .card__background {
  background-color: #ff5c7c;
}
.card--study .card__background::after {
  content: url("./images/icon-study.svg");
}

.card--exercise .card__background {
  background-color: #4acf81;
}
.card--exercise .card__background::after {
  content: url("./images/icon-exercise.svg");
}

.card--social .card__background {
  background-color: #7536d3;
}
.card--social .card__background::after {
  content: url("./images/icon-social.svg");
}

.card--self-care .card__background {
  background-color: #f1c65b;
}
.card--self-care .card__background::after {
  content: url("./images/icon-self-care.svg");
}

/* layout */
@media (min-width: 40rem) {
  .dashboard {
    grid-template-columns: repeat(3, 1fr);
  }
  .header {
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    max-width: 16rem;
  }
  .header header {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
  }
  .header .nav ul {
    flex-direction: column;
    gap: 1rem;
  }
  .header img {
    width: 5rem;
    height: 5rem;
  }
  .header h1 {
    font-size: 2.5rem;
    max-width: 10ch;
  }
}/*# sourceMappingURL=styles.css.map */